# Dépendances
node_modules/

# Fichiers de verrouillage de dépendances
package-lock.json
yarn.lock

# Fichiers de base de données SQLite
*.db
*.sqlite

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeurs
.vscode/
.idea/
*.swp
*.swo